<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invitation Templates</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <h1>Select Your Invitation Template</h1>

        <h2>Wedding Invitations</h2>
        <div class="template-grid">
            <a href="https://www.canva.com/design/DAGdx6zRG5I/ClkNhLk3RU5-my-BCXOqBA/edit" target="_blank">
                <img src="img/wedding png/Cream and Pink Floral Border Rustic Indian Wedding Invitation.png" alt="Cream and Pink Floral Border Rustic Indian Wedding Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGdx2Fv7xQ/jeEGizTYmufcQRF2JgeVIA/edit" target="_blank">
                <img src="img/wedding png/Cream Green Simple Illustrated Wedding Invitation.png" alt="Cream Green Simple Illustrated Wedding Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGdx8p-TL0/qc5Ln22owCyqGsWfMdRCEQ/edit" target="_blank">
                <img src="img/wedding png/Gold and Red Classic Traditional Floral Patterned Indian Wedding Invitation.png" alt="Gold and Red Classic Traditional Floral Patterned Indian Wedding Invitation">
            </a>
            <!-- Additional Wedding Templates -->
            <a href="https://www.canva.com/design/DAGeyqKUs-E/P9OGQgSLQPsquE_IlqrT6w/edit" target="_blank">
                <img src="img/wedding png/Pink Floral Wedding Invitation.png" alt="Pink Floral Wedding Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeyjTHIW4/Je3WDCgcqu7S34iDDiJ9Og/edit" target="_blank">
                <img src="img/wedding png/Black and Gold Modern Elegant Wedding Celebration Invitation .png" alt="Black and Gold Modern Elegant Wedding Celebration Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeygBGXeI/2YPwCaVwq_tY-auh3XnU7A/edit" target="_blank">
                <img src="img/wedding png/Pink And Green Minimalist Wedding Invitation.png" alt="Pink And Green Minimalist Wedding Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeyuux_B0/27tYjXBUAHOHo8Alfm_nJw/edit" target="_blank">
                <img src="img/wedding png/Soft Blue and White Floral Illustrative Wedding Invitation.png" alt="Soft Blue and White Floral Illustrative Wedding Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeymt1oKQ/P9d7YlP8W8BDp0bcU8-95w/edit" target="_blank">
                <img src="img/wedding png/Brown Gradient Traditional Indian Wedding Invitation.png" alt="Brown Gradient Traditional Indian Wedding Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeyrBLqC0/wOs8psyWPKK9nmuoFZke-Q/edit" target="_blank">
                <img src="img/wedding png/Blue and Gold Wedding Invitation.png" alt="Blue and Gold Wedding Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeykaJvRU/L8xfepl5YeQmPlQdZRtK8Q/edit" target="_blank">
                <img src="img/wedding png/Pink Floral Watercolor Indian Wedding Invitation.png" alt="Pink Floral Watercolor Indian Wedding Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeyqHed9A/nZMLp-tz9k2b4J6WjLzXmw/edit" target="_blank">
                <img src="img/wedding png/White Cream Photo Wedding Invitation.png" alt="White Cream Photo Wedding Invitation">
            </a>
        </div>

        <h2>Birthday Invitations</h2>
        <div class="template-grid">
            <a href="https://www.canva.com/design/DAGdx6lP5G4/MRY4Nf57jf4EIdPUshOmOg/edit" target="_blank">
                <img src="img/birthday png/Blue Modern Birthday Party Invitation.png" alt="Blue Modern Birthday Party Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGdxz_kzH8/nGUbTzYnpmUXR6fCOi3L0g/edit" target="_blank">
                <img src="img/birthday png/Green and Brown Birthday Invitation.png" alt="Green and Brown Birthday Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGdx-8gfks/pkbSfwdR7HEtZpmd2M37iw/edit" target="_blank">
                <img src="img/birthday png/Pink Beige Modern Glamour 16th Kids Birthday Invitation.png" alt="Pink Beige Modern Glamour 16th Kids Birthday Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGdxwJojB4/0hRjrK864pyb0bh19agWiw/edit" target="_blank">
                <img src="img/birthday png/White with Gold Elegant Birthday Party Invitation.png" alt="White with Gold Elegant Birthday Party Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeHI5ISAY/tesaZ1VdW_QPLVvu0ZFYwA/edit" target="_blank">
                <img src="img/birthday png/Cream Vintage Dinner Party Invitation.png" alt="Cream Vintage Dinner Party Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeHPRFEMU/wXxK9MFLuSCoEhEn6uScEA/edit" target="_blank">
                <img src="img/birthday png/Black and Pink Illustrated Birthday Invitation.png" alt="Black and Pink Illustrated Birthday Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeHDTWHeo/UCwa8atwQgi_TJJB6Zlv_g/edit" target="_blank">
                <img src="img/birthday png/Green and Gold Painted Birthday Invitation.png" alt="Green and Gold Painted Birthday Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeHNpqYvg/YCCUSQG7mmfKdQmUVJvF9Q/edit" target="_blank">
                <img src="img/birthday png/Pink Gold Watercolor Birthday Party Invitation.png" alt="Pink Gold Watercolor Birthday Party Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeHCvecsI/Zy0KTKKhCL1K78ekqMcjNA/edit" target="_blank">
                <img src="img/birthday png/Black Illustrated Balloons Birthday Party Invitation.png" alt="Black Illustrated Balloons Birthday Party Invitation">
            </a>
            <a href="https://www.canva.com/templates/EAFBeGZ18gw-blush-pink-red-vintage-ornamental-stamped-30th-birthday-invitation/" target="_blank">
                <img src="img/birthday png/Blush Pink Red Vintage Ornamental Stamped 30th Birthday Invitation.png" alt="Blush Pink Red Vintage Ornamental Stamped 30th Birthday Invitation">
            </a>
        </div>

        <h2>Engagement Invitations</h2>
        <div class="template-grid">
            <a href="https://www.canva.com/design/DAGeIWS8EsM/JV7gv_vInRVplHOTMf5DFA/edit" target="_blank">
                <img src="img/engagement_png/White Minimalist Wedding Invitation.png" alt="White Minimalist Wedding Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeIeiWW2U/HBiO0LFsCptinnG53v82SA/edit" target="_blank">
                <img src="img/engagement_png/Brown Gray Elegant Flower Wedding Invitation Instagram Story.png" alt="Brown Gray Elegant Flower Wedding Invitation Instagram Story">
            </a>
            <a href="https://www.canva.com/design/DAGeIVsjquw/LvUPwhX1S9NM9zMBPR8n7Q/edit" target="_blank">
                <img src="img/engagement_png/Gold and Grey Floral Engagement Invitation.png" alt="Gold and Grey Floral Engagement Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeIXc25cU/-CybZ-xA42khYoj72mBcbw/edit" target="_blank">
                <img src="img/engagement_png/Purple and White Simple Engagement Animated Floral Invitation.png" alt="Purple and White Simple Engagement Animated Floral Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeIcr7drE/nDCgkfRKTB8th9VYClDe6g/edit" target="_blank">
                <img src="img/engagement_png/Cream Pink and Purple Floral Vintage Feminine Engagement Invitation.png" alt="Cream Pink and Purple Floral Vintage Feminine Engagement Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGeIV8bIRI/D-M0xtdEracu2zFQq4UfnQ/edit" target="_blank">
                <img src="img/engagement_png/Beige Minimalist Elegant Engagement Party Card.png" alt="Beige Minimalist Elegant Engagement Party Card">
            </a>
            <a href="https://www.canva.com/design/DAGe4dZNtYQ/oTRojfPGNyHHppTdzdBA_w/view" target="_blank">
                <img src="img/engagement_png/Brown Traditional Indian Wedding Invitation.png" alt="Brown Traditional Indian Wedding Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGe4YOq-xo/bxWTXwxtqQ96_WWRrU3XTA/edit" target="_blank">
                <img src="img/engagement_png/Pink Flower Minimalist Engagement Invitation.png" alt="Pink Flower Minimalist Engagement Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGe4d8qTHg/TYAoSPtUvbVspoZx4Ak7CQ/edit" target="_blank">
                <img src="img/engagement_png/Green Red Floral Decorative Engagement Invitation.png" alt="Green Red Floral Decorative Engagement Invitation">
            </a>
            <a href="https://www.canva.com/design/DAGe4Q3qZDw/kwkFGN5iIl9OCB9hdBAnFA/edit" target="_blank">
                <img src="img/engagement_png/White and Green Simple Engagement Invitation.png" alt="White and Green Simple Engagement Invitation">
            </a>
        </div>
    </div>
</body>
</html>
